<header class="esh-app-header">
  <div class="container">
      <article class="row">
          <section class="col-lg-7 col-md-6 col-12">
              <a class="navbar-brand" routerLink="catalog">
                  <img src="assets/images/brand.png" />
              </a>
          </section>

          <section class="col-lg-4 col-md-5 col-12">
              <!-- <esh-identity></esh-identity> -->
          </section>

          <section class="col-lg-1 col-12">
              <app-basket-status *ngIf="Authenticated"></app-basket-status>
          </section>

      </article>
  </div>
</header>

<!-- component routing placeholder -->
<router-outlet></router-outlet>

<footer class="esh-app-footer">
  <div class="container">
      <article class="row">

          <section class="col-sm-6">
              <img class="esh-app-footer-brand" src="assets/images/brand_dark.png" />
          </section>

          <section class="col-sm-6">
              <img class="esh-app-footer-text hidden" src="assets/images/main_footer_text.png" width="335" height="26" alt="footer text image" />
          </section>

      </article>
  </div>
</footer>

