<h2>Products</h2>

<div *ngFor="let product of products">
    <h3>
        <a [title]="product.name + ' details'" [routerLink]="['/products', product.productId]" >
            {{ product.name }}
        </a>
    </h3>

    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>

    <button (click)="share(product)">
        Share
    </button>

    <app-product-alerts [product]="product" (notify)="onNotify($event)"></app-product-alerts>
</div>