<h3>Cart</h3>

<a [routerLink]="['/shipping']">Shipping Prices</a>

<div class="cart-item" *ngFor="let item of items">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="submit(checkoutForm.value)">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" />
    </div>

    <div>
        <label for="address">Address</label>
        <input id="address" type="text" formControlName="address" />
    </div>

    <button class="buttn" type="submit">Purchase</button>
</form>