<p>Product Details</p>

<div *ngIf="product">
    <h3>{{ product!.name }}</h3>
    <h4>{{ product!.price }}</h4>
    <p>{{ product!.description }}</p>

    <button (click)="addToCart()" >Buy</button>
</div>

<div *ngIf="!product">
    No Such Product
</div>